In [1]:
import json
import os
import pandas as pd

In [2]:
df = pd.read_csv("./MANUAL_LABELS_Sentence_Intent_Classification_1_30000~Extract2_Deduped.tsv", sep='\t')
df['jd_sent_manual_label_NEW'] = df['jd_sent_manual_label_NEW'].str.lower()
df.head()

                                    jd_sentence_text jd_sent_manual_label_NEW
0               Experience working in an Agile/Scrum               experience
1  Experience with source control and automated b...               experience
2  Bachelor's degree in Computer Science or a rel...                education
3               Experience with SQL Server or Oracle               experience
4          Experience with testing .Net applications               experience

In [9]:
noun_removal = ['SQL','Oracle','JSON','REST','SQA',"REST",'HTML','CSS','Java','Python','C++','Node.js','JIRA','Angular','Express','jQuery','Azure','Kotlin',"Agile","Scrum"]
for i in range(len(noun_removal)):
    noun_removal[i] = noun_removal[i].lower()

print(noun_removal)

['sql', 'oracle', 'json', 'rest', 'sqa', 'rest', 'html', 'css', 'java', 'python', 'c++', 'node.js', 'jira', 'angular', 'express', 'jquery', 'azure', 'kotlin', 'agile', 'scrum']

In [8]:
for idx, row in df.iterrows():
    current_words = row["jd_sentence_text"].split(" ")
    for j in range(len(current_words)):
        for i in range(len(noun_removal)):
            cur_removal_word = noun_removal[i]
            cur_word = current_words[j]
            if cur_removal_word in cur_word:
                print("sfsdf")
                current_words[j] = "kjfsdhgrandrand"

    current_sentence = ""
    for word in current_words:
        current_sentence += word
        current_sentence += " "
    
    current_sentene = current_sentence[:-1]
    df.at[idx, 'jd_sentence_text'] = current_sentence

df.head()

                                    jd_sentence_text jd_sent_manual_label_NEW
0             Experience working in an Agile/Scrum                 experience
1  Experience with source control and automated b...               experience
2  Bachelor's degree in Computer Science or a rel...                education
3             Experience with SQL Server or Oracle                 experience
4        Experience with testing .Net applications                 experience

In [ ]:
df

:

In [27]:
set_of_labels = set()
for index, row in df.iterrows():
    if str(row["jd_sent_manual_label_NEW"]).lower() == "about_company":
        df.at[index,"jd_sent_manual_label_NEW"] = "about_company"
    set_of_labels.add(row["jd_sent_manual_label_NEW"].lower())

In [28]:
ind = 0
label_to_id = dict()
for label in set_of_labels:
    label_to_id[label] = ind
    ind+=1

with open("./category_to_id.json", 'w') as fp:
    json.dump(label_to_id, fp)

In [29]:
length_of_df = len(df)

shuffled_df = df.sample(frac=1)

splits_list = [int(0.8*length_of_df),int(0.9*length_of_df)]

train_data = df[:splits_list[0]]
val_data = df[(splits_list[0]+1):splits_list[1]]
test_data = df[(splits_list[1]+1):]

train_data.to_json("./splits/train.json", orient="records")
val_data.to_json("./splits/val.json", orient="records")
test_data.to_json("./splits/test.json", orient="records")

In [30]:
label_to_id

{'benefits': 0,
 'eoe': 1,
 'location_travel': 2,
 'soft_skills': 3,
 'certification': 4,
 'education': 5,
 'authorization_clearance': 6,
 'skill_knowledge': 7,
 'position_role': 8,
 'experience': 9,
 'responsibility': 10,
 'about_company': 11,
 'or_edu_exp': 12}

: